/** @format */

body {
  background-color: white;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

h1,
p,
footer {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
